body {
  background-color: #ffffff;
  }

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50.52px 91px;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  line-height: 135%;
}
.header__menu {
  padding-right: 33px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header__link-active {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullet {
  list-style-type: none;
}

.header__logo {
  display: block;

}
.header__logo-image {
  width: 148px;
  height: 104.65px;
}

.header__address {
  justify-self: end;
}

.address {
  display: block;
  width: 240.52px;
  height: 98px;
  font-style: normal;
  line-height: 24.3px;
  font-variant-numeric: oldstyle-nums;
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/ 0.5);
}

.cover {
  position: relative;
  z-index: 1;
  padding: 165px 50px 48px ;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  position: relative;
  z-index: 1;
  margin-bottom: 135px;
  letter-spacing: 0.3em;
  font-size: 100px;
  color: #ffffff;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text-center {
  text-align: center;
  line-height: 1.4;
}

.aligned-text-right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 14pt;
  color: #ffffff;
  font-weight:400;
  line-height: 27px;
  padding-left: 27px;
}

.bet-button {
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  font-weight: 500;
  font-size: 22px;
  display: inline;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
}

.lots {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 180px;
  display: flex;
  flex-flow: column;
  gap: 27px 30px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  padding-left: 40px;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  flex-basis: 334px;
  flex-grow: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  font-size: 22px;
  color:#ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  white-space: normal;
  z-index: 2;
  padding: 51px 40px 0px;
}

.card__text {
  font-size: 20px;
  color:#ffffff;
  font-weight: lighter;
  white-space: normal;
  z-index: 2;
  padding: 0px 40px 48px;
}

.lots__look-more-link {
  line-height: 31px;
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
  }

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin: 146px 24px 0px;
  padding-top: 35px;
  gap: 25px;
  }

.about__column {
  justify-self: center;
  }

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-color: #000000;
  }

.about__logo-image {
  width: 148px;
  height: 114px;
  }

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 99px;
  margin-bottom: 100px;
  }

.about__text {
  font-size: 20px;
  line-height: 24px;
  }
.about__text-first {
  display: block;
  margin-right: 5px;
  margin-bottom: 24px;
}

.footer {
  display: flex;
  padding: 180px 50px 88px;
  font-size: 18px;
  font-weight: 400;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__menu {
  line-height: 1.2em;
}

.footer__menu-list {
  list-style-type: none;
  text-decoration: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;

}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  display: block;
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__address {
justify-self: flex-start;
}